<a href="https://colab.research.google.com/github/khamoh/PredictiveAnalytics/blob/master/827_m1_demo1_v1_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Predictive Analytics
# Module 1 - Statistical Foundations
## Demo 1 - Data I/O & Data Types

### Use-Case: Predict Future Sales

### Load Data

In [0]:
import pandas as pd

In [0]:
items = pd.read_csv("items.csv")
shops = pd.read_csv("shops.csv")
cats = pd.read_csv("item_categories.csv")
train = pd.read_csv("sales_train.csv")

### Look at the first five rows

In [0]:
train.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

### Dimensions of Data

In [0]:
train.shape

(2935849, 6)

In [0]:
print("Categories:",cats.shape)
print("Items:",items.shape)
print("Shops:",shops.shape)
print("Train:",train.shape)

Categories: (84, 2)
Items: (22170, 3)
Shops: (60, 2)
Train: (2935849, 6)

### Data type for each attribute

In [0]:
train.dtypes

date               object
date_block_num      int64
shop_id             int64
item_id             int64
item_price        float64
item_cnt_day      float64
dtype: object